/* Debug */
.debug{
    border: 1px solid black;
}

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    color: #23272a;
}
.btn {
    display: inline-block;
    border-radius: 40px;
    padding: 16px 32px;
    background-color: #8ea1e1;
    color: #fff;
    text-decoration: none;
}
.right{
    float: right
}
.left{
    float: left
}
.white-black{
    background-color: white;
    color: black;
}
.black-white{
    background-color: black;
    color: white;
}

/* Header */
header{
    width: 100%;
    background-color: #255EE9;
    font-size: 14px;
}
.container-header{
    width: 80%;
    height: 80px;
    line-height: 80px;
    margin: 0 auto;
}
.logo img{
    vertical-align: middle;
}
.logo{
    width: 20%;
}
.main-nav{
    width: 60%;
    text-align: center;
}
#accedi{
    width: 20%;
    text-align: right;
}
div.main-nav ul li{
    display: inline-block;
    padding: 0 15px;
}
div.main-nav ul li a{
    text-decoration: none;
    color: white;
}
#accedi .btn{
    padding: 10px 14px;
    background-color: #fff;
    font-size: 14px;
    color: #23272a;
    display: inline;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
}

/* Main */

.jumbotron{
    width: 100%;
    min-height: 546px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    position: relative;
}
.container-jumbotron{
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    text-align: center;
    color: white;
}
div.container-jumbotron h1{
    font-size: 50px;
}
div.container-jumbotron p{
    padding-top: 40px;
    padding-bottom: 25px;
    line-height: 1.5em;
}
.jumbo-button-1, .jumbo-button-2{
    display: inline-block;
}
.jumbo-button-1{
    padding-right: 20px;
}
.container-article{
    width: 80%;
    margin: 0 auto;
}
.box{
    padding-top: 100px;
}
article.box img{
    width: 50%;
}
.text-right{
    width: 50%;
    padding-left: 200px;
    padding-top: 32px;
}
.text-left{
    width: 50%;
    padding-right: 200px;
    padding-top: 32px;
}
.text-right h2, .text-left h2, .text-center h2{
    font-size: 50px;
}
.text-right p, .text-left p, .text-center p{
    padding-top: 30px;
    line-height: 1.5em;
    font-weight: 500;
}
.text-center{
    width: 90%;
    margin: 0 auto;
    padding-top: 32px;
    text-align: center;
}
article#box-wave-2 img{
    width: 90%;
    padding-left: 10%;
    margin: 0 auto;
    object-position: center;
}
.final-text{
    font-size: 25px;
    padding-top: 0%;
    padding-bottom: 20px;
    font-weight: 500px;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.final-button{
    text-align: center;
}

/* Wave */
#box-wave-2{
    width: 100%;
    padding-top: 100px;
    background-color: #F6F6F6;
}





/* Footer */